.admin-container {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
}

.stock-input {
    width: 80px;
    margin-right: 10px;
}

.low-stock-warning {
    color: orange;
    font-size: 0.8em;
    font-weight: bold;
}

.row-low-stock {
    background-color: #fff0f0;
}